.grid {
    margin: 0%;
    padding: 0%;
    width: 59.5px;
    height: 46.3px;
    border: none;
    outline: 1px solid rgb(211, 114, 211);
    display: inline-flex;
}

#container {
    position: relative;
    top: 50px;
    outline: solid rgb(211, 114, 211);
    margin: auto;
    height: 800px;
    width: 950px;
    padding: 0;
    border: none; 
}


.row {
    width: 100vw;
}


